# totally not stolen from https://github.com/pterodactyl/wings/blob/develop/.github/workflows/release.yaml

name: Release

on:
  push:
    tags:
      - "v*"

jobs:
  release:
    name: Release
    runs-on: ubuntu-24.04
    permissions:
      contents: write # write is required to create releases and push.

    steps:
      - name: Code checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Setup Go
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          go-version: "1.24.2"

      - name: Build release binaries
        env:
          CGO_ENABLED: 0
          REF: ${{ github.ref }}
          GOOS: windows
          GOARCH: amd64
        run: go build -o out/tpc.exe -v  -trimpath -ldflags="-s -w -X github.com/djohts/tpc-truckersmp/constants.APP_VERSION=${REF:11}" github.com/djohts/tpc-truckersmp

      - name: Extract changelog
        env:
          REF: ${{ github.ref }}
        run: |
          sed -n "/^## ${REF:10}/,/^## /{/^## /b;p}" CHANGELOG.md > ./RELEASE_CHANGELOG

      - name: Create checksum and add to changelog
        run: |
          SUM=`cd out && sha256sum tpc.exe`
          echo -e "\n#### SHA256 Checksum\n\`\`\`\n$SUM\n\`\`\`\n" >> ./RELEASE_CHANGELOG
          echo -e "$SUM" > checksums.txt

      - name: Create release branch
        env:
          REF: ${{ github.ref }}
        run: |
          BRANCH=release/${REF:10}
          git config --local user.email "admin@proxied.host"
          git config --local user.name "automated djoh"
          git checkout -b $BRANCH
          git push -u origin $BRANCH
          sed -i "s/APP_VERSION = \".*\"/APP_VERSION = \"${REF:11}\"/" constants/constants.go
          git add constants/constants.go
          git commit -m "bump version for release"
          git push

      - name: Create release
        uses: softprops/action-gh-release@5be0e66d93ac7ed76da52eca8bb058f665c3a5fe # v2.4.2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          draft: true
          prerelease: ${{ contains(github.ref, 'rc') || contains(github.ref, 'beta') || contains(github.ref, 'alpha') }}
          body_path: ./RELEASE_CHANGELOG
          files: |
            out/*
            checksums.txt
